<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div style="padding:25px">
    <h1>👻GhostPost 👻</h1>
    <a href="/newpost/" class="btn btn-primary">New Post</a>
    <div class="container">
        {% for post in posts %}
        <div>
            <a href="/post/{{post.id}}"><h3>{{ post.content }}</h3></a>
            <ul>
                <li>{{ post.isBoast|yesno:"Boast,Roast"}}</li>
                <li>{{ post.date }}</li>
            </ul>
        </div>
        {% endfor %}
    </div>
    <p>Filters: <a href="/boasts/" class="btn btn-secondary">Boasts</a> <a href="/roasts/" class="btn btn-secondary">Roasts</a> <a href="/score/" class="btn btn-secondary">Score</a> <a href="/" class="btn btn-secondary">None</a></p>
</div>