<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<h1>{{ post.isBoast|yesno:"Boast,Roast"}}</h1>
<div class="container">
    <h3>{{ post.content }}</h3>
    <p>{{ post.upVotes }} <a href="/upvote/{{ post.id }}/" class="btn btn-secondary">up votes</a> || {{ post.downVotes }} <a href="/downvote/{{ post.id }}/" class="btn btn-secondary">down votes</a></p>
    <p>{{ post.date }}</p>
</div>
    <p>
    {% if last_post %}
        <a href="/post/{{ last_post }}/" class="btn btn-secondary"><-</a>
    {% endif %}
    <a href="{{ homepage }}" class="btn btn-secondary">Home</a>
    {% if next_post %}
        <a href="/post/{{ next_post }}/" class="btn btn-secondary">-></a>
    {% endif %}
</p>